#contenido{
width:80%;
	margin: auto;
	text-align: center;

}
object{
	width: 50vw;
	height:65vh;
	text-align: center;
	border-style: solid;
}
.titulo{
	font-weight: bold;
	font-size: 1.3rem;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 1rem;
}

body{
	font-family: calibri;
	background-image: url('fondo.png');
	}
#encabezado{
	font-size: 2.5rem;
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 1rem;
	width: 50%;
	margin: auto;
}
.circuito{
	background-color: rgba(180, 243, 178, 0.4);
	border-style: solid;
	border-radius: 1rem;

	
}
#menu{
	float: right;
	width: 30%;
}
#mensaje{
	float: left;
	width: 40%;
	background-color: rgba(221, 243, 178, 0.5);
}
#mensaje_1,#mensaje_2,#mensaje_3{
	margin-top: 10%;
	font-size: 1.5rem;
	background-color: rgba(221, 243, 178, 0.5);
	border-radius: 1rem;
	border-style: solid;
	text-align: center;
}
           button{

           
      	         background-color: blueviolet;
                color: white;
                font-size: 20px;
                text-align: center;
                font-weight: bolder;
                padding: 3px;
                border: solid 2px black;

            }
             button:hover{ /* Estilo que se activa al pasar el puntero sobre el boton */
                background-color: lightcoral;
                font-size: 22px;
                border: groove 4px red;
            }
  
    @media only screen and (orientation:portrait) {
        #contenido { display:none; }
        #aviso-movil-horizontal { z-index=0;
          display:block;
      font-size: 1rem;
                text-align: center;
                font-weight: bolder;}
      
    }
    @media only screen and (orientation:landscape) {
        #aviso-movil-horizontal { display:none; }
    }
