#contenido{
width:80%;
	margin: auto;
	text-align: center;

}
object{
	width: 50vw;
	height:65vh;
	text-align: center;
	border-style: solid;
}
video
{border-radius:1rem;}
.titulo{
	font-weight: bold;
	font-size: 1.3rem;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 1rem;
}

body{
	font-family: calibri;
	background-image: url('fondo.png');
	}
#encabezado{
	font-size: 2.5rem;
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 1rem;
	width: 50%;
	margin: auto;
}
.circuito{
	background-color: rgba(180, 243, 178, 0.4);
	border-style: solid;
	border-radius: 1rem;

	
}
#menu{
	float: right;
	width: 30%;
}
#mensaje{
	float: left;
	width: 40%;
	background-color: rgba(221, 243, 178, 0.5);
}
#mensaje_1,#mensaje_2,#mensaje_3{
	margin-top: 10%;
	font-size: 1.5rem;
	background-color: rgba(221, 243, 178, 0.5);
	border-radius: 1rem;
	border-style: solid;
	text-align: center;
}

         button {background-image: linear-gradient(to right, #4CA1AF 0%, #C4E0E5  51%, #4CA1AF  100%)}
         button {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
         
          }

          button:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         
  
    @media only screen and (orientation:portrait) {
        #contenido { display:none; }
        #aviso-movil-horizontal { z-index=0;
          display:block;
      font-size: 1rem;
		background-color:rgba(255,255,255,0.6);
		border-radius:1rem;
                text-align: center;
                font-weight: bolder;}
      
    }
    @media only screen and (orientation:landscape) {
        #aviso-movil-horizontal { display:none; }
    }
